<h2>Genres:</h2>
<p>
  <% @genres.each do |genre| %>
    <li><a href="/genres/<%= genre.id %>"> <%= genre.name %> </a></li>
  <% end %>
</p>

<br>
<form method="get" action="/movies">
  <button type="submit">All Movies</button>
</form>
