<div class="allmovies-showpage">

  <p><h1>Movies</h1></p>

  <div class="movie-list">
    <ul style="list-style-type: none">
      <% @movies.each do |movie| %>
        <li>
          <a href="/movies/<%= movie.id %>">
            <%= movie.title %>
          </a>
        </li>
      <% end %>
    </ul>
</div>
  <br>

  <form method="get" action="/users/show">
      <button type="submit"> Saved Movies</button>
  </form>
  <br>
  <form method="get" action="/updates">
        <button type="submit">Explore Updates</button>
    </form>
  <br>
  <form method="get" action="/logout">
      <button type="submit">Log Out</button>
  </form>

</div>