  <div class="movie-showpage">

    <div class="movie info">

   <h2>Title: <%= @movie.title %></h2>
    <h3>Director: <%= @movie.director %></h3> 

    <br>

    <% if @movie.user == current_user %>
      <form method="get" action="/movies/<%= @movie.id %>/edit">
        <button class="top" type="submit" value="Edit Movie">Edit movie</button>
      </form>
    <% end %>

    <% if @movie.user == current_user %>
      <form action="/movies/<%= @movie.id %>/delete" method="POST">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <button type="delete" type="submit" value="Delete Movie">Delete Movie</button>
      </form>
    <% end %>
  </div>

    <div class="movie route-links">

    <form method="get" action="/users/show">
      <button type="submit">My Movies</button>
    </form>

    <form method="get" action="/movies">
      <button type="submit">All Movies</button>
    </form>
    

  </div>
</div>