  @font-face {
  font-family: 'Oswald';
  src: url('https://fonts.googleapis.com/css?family=Oswald');
  }


  body {
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    margin: 0;
    line-height: 1;
  }

  .flash_message {
    color: #2daad8;
    font-weight: bold;
  }

  h1 {
    font-size: 2rem;
    line-height: 1.2;
  }

  h2 {
   font-size: 1.5rem;
  }

  h3 {
    font-size: 18px;
    line-height: 36px;
  }

  p {
    margin-bottom: 18px;
  }

  .main {
    overflow: hidden;
  }

  .content {
    float: center;
    width: 60%; /* 480px / 800px */
  }

  .sidebar {
    background: #eee;
    border: 1px solid #ccc;
    float: right;
    padding: 2.08333333333%; /* 5px / 240px */
    width: 30%; /* 240px / 800px */
  }

  .sidebar ul {
    font-size: 14px;
  }

  .user-container h1 {
  padding-top: 300px;
  }


  .user-container{
    background: url(../images/film-background.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0 auto;
    text-align: center;
    border: 10px solid; 
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    line-height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box
  }

  .user-container h1, .user-container h2, .user-container h3, .user-container p, .user-container a, .user-container a:visited {
  color: #569db7;
  text-shadow: 3px 2px black;
  font-family: 'Raleway', sans-serif;
}

