  @font-face {
  font-family: 'Oswald';
  src: url('https://fonts.googleapis.com/css?family=Oswald');
  }


  body {
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    margin: 0;
    line-height: 1;
  }

  .flash_message {
    color: #2daad8;
    font-weight: bold;
  }

  input[type="text"] {
  height: 40px;
  width: 30%;
  font-family: 'Oswald', sans-serif;
}


  .user-container h1 {
  font-size: 3em;
  }


  .user-container {
    background: url(../images/film-background.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0 auto;
    padding-top: 300px;
    text-align: center;
    border: 10px solid; 
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    line-height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
  }
  .login {
    background: url(../images/film-background.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0 auto;
    padding-top: 300px;
    border: 10px solid; 
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    line-height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;

  }

  .user-container h1, .user-container h2 {
  color: #569db7;
  text-shadow: 4px 3px black;
  font-family: 'Raleway', sans-serif;
  }
  .user-content h3 {
    color: #569db7;
    text-shadow: 3px 2px black;
  }

  .user-content {
  margin-top: 1em;
  }

  .user-content button {
    font-size: 12px;
  }

  .user-content h1{
    padding-top: 300px;
  }

    .user-content input {
    height: 10%;
    width: 25%;
    color: #AAA;
    font-size: 1rem;
    border: 0;
}

  .user-showpage {
  background-color: #eaf0f2;
  margin: 0 auto;
  padding-top: 200px;
  text-align: center;
  min-height: 100vh;
  border: 10px solid;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  }

  .movie-showpage {
  display: grid;
  grid-gap: 2%;
  grid-template-columns: 32% 32% 32%;
  background-color: #eaf0f2;
  border: 10px solid;
  box-sizing: border-box;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  }
  .movie {
    border-radius: 5px;
    padding: 30px;
    font-size: 150%;
  }
  .info {
    grid-column: 1 / span 2;
    grid-row: 1 ;
  }
 
  .route-links {
    text-align: center;
    padding: 30px;
    grid-column: 3 ;
    grid-row: span 1 / span 2;
  }

  .movie-showpage button {
    font-family: 'Oswald', sans-serif;
  }

  .updates-showpage {
    background-color: #eaf0f2;
    margin: 0 auto;
    padding-top: 200px;
    border: 10px solid;
    min-height: 100vh;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
  }









