
<div class="user-container login">
  <h1>Film Forum</h1>
    <p class="flash_messsge">
  <% if flash.has?(:message) %>
    <%= flash[:message] %>
    <% end %>
  </p>
  <div class="user-content">
    <form action="/login" method="POST">

      <h3>
    <label>Username:</label>
      <input type="username" id="username" name="username" placeholder="Username" required="required">
      </h3>

      <h3>
    <label>Password:</label>
      <input type="password" id="password" name="password" placeholder="Password" required="required">
      </h3>

      <button type="submit" id="submit" value="Log In"> Log In </button>
    </form>
  
  </div>
</div>