<div class="user-container">

  <h1>Film Forum</h1>

  <p class="flash_message">
  <% if flash.has?(:message) %>
    <%= flash[:message] %>
  <% end %>
  </p>


  <h2>Sign Up:</h2>
    <div class="user-content">

  <form action="/signup" method="POST">
    <p>
    <label>Username:</label>
      <input type="username" id="username" name="username" placeholder="Username" required="required">
    </p>

    <p>
    <label>Email:</label>
      <input type="email" id="emailAddress" name="email" placeholder="Email" required="required">
      </p>

      <p>
    <label>Password:</label>
      <input type="password" id="password" name="password" placeholder="Password" required="required" minlength="6" maxlength="10" size="10">
      </p>

      <button type="submit" value="Sign Up">Sign Up </button>
  </form>
    </div>
</div>


