<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
</head>
<body>
  <h2>Sign Up:</h2>

  <form action="/signup" method="POST">
    <label>Username:</label>
      <input type="text" name="username">
    <br>
    <label>Email:</label>
      <input type="text" name="email">
      <br>
    <label>Password:</label>
      <input type="text" name="password">
      <br>
      <input type="submit" value="Sign Up">
  </form>

</body>
</html>

