<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
</head>
<body>
  <h2><%= @user.username %> Updates</h2>
    <% @user.updates.each do |update| %>
      <%= update.content %>
   <% end %>
</body>
</html>
