<div class="user-showpage">

  <h2>Your Saved Movie List</h2>

  <div class="user-content">

    <ul style="list-style-type: none">
      <% current_user.movies.each do |movie| %>
        <li>
          <a href="/movies/<%= movie.id %>">
            <%= movie.title %>
          </a>
        </li>
      <% end %>
    </ul>

    <br>
    <br>

    <form method="get" action="/movies/new">
        <button type="submit">New Movie</button>
    </form>
    <br>
    <form method="get" action="/updates">
        <button type="submit">Explore Updates</button>
    </form>
    <br>
    <form method="get" action="/movies">
        <button type="submit">Explore Movies</button>
    </form>
    <br>
    <form method="get" action="/logout">
        <button type="submit">Log Out</button>
    </form>
  </div>
</div>