<div class="edit-update">
  <h2> Edit Update </h2>
  <p class="flash_messsge">
  <% if flash.has?(:message) %>
    <%= flash[:message] %>
    <% end %>

  <form method="post" action="/updates/<%=@update.id%>">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <input type="text" name="content" value="<%= @update.content %>">
    <input type="submit" value="submit">
  </form>
</div>