
<p><%= @update.content %>

<form method="post" action="/updates/<%=@update.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Update">
</form>

<form method="post" action="/updates/<%=@update.id%>/edit">
  <input id="hidden" type="hidden" name="_method" value="EDIT">
  <input type="submit" value="Edit Update">
</form>

