<div class="user-updates">
  <p> Welcome <%= current_user.username %> </p>
  <br>
    <h2>  Your Status Updates </h2>
    <div class="update-links">
  


  <ul>
    <% current_user.updates.each do |update| %>
      <li>
        <a href="/updates/<%= update.id %>/edit">
          <%= update.content %>
        </a>
      </li>
    <% end %>
  </ul>

  <form method="get" action="/updates/new">
      <button type="submit">Create New Update</button>
  </form>
</div>

  <br>
  <form method="get" action="/updates">
      <button type="submit">Explore Updates</button>
  </form>
  <br>
  <form method="get" action="/logout">
      <button type="submit">Log Out</button>
  </form>
</div>