
  <div class="new-update">
  <h1>New Update</h1>
  <form action="/updates" method="POST">

    <h3>Update:</h3>
      <textarea name="update" rows="10" cols="20" maxlength="145" placeholder="Enter text here..."></textarea>

  <p><input type="submit" name="Submit" value="submit"></p>
  </form>
  <br>
  <form method="get" action="/updates/show">
    <button type="submit">back</button>
</form>
</div>

