
<!DOCTYPE html>
<html>
<head>
  <title>Updates</title>
</head>
<body>
  <h1>New Update</h1>
  <form action="/updates" method="POST">

    <h3>New Update:</h3>
      <input type="text" name="content">
    <br>
  <input type="submit" name="Submit" value="submit">
  </form>
</body>
</html>