<div class="updates-showpage">
  

<p><h2>All Updates</h2></p>

<ul style="list-style-type: none">
  <% @updates.each do |update| %>
    <li>
      <a href="/updates/<%= update.id %>">
        <%= update.content %>
      </a>
    </li>
  <% end %>
</ul>
<br>

<form method="get" action="/updates/show">
    <button type="submit">View Your Updates</button>
</form>
<br>
<form method="get" action="/users/show">
      <button type="submit">View Your Movies</button>
  </form>
  <br>
<form method="get" action="/logout">
    <button type="submit">Log Out</button>
</form>

</div>