
<div class="user-container">
  <h1>Welcome to Film Forum</h1>

    <div class="user-content">

  <form action="/login" method="get">
   <p>
     <button type="submit" value="Log in">Log in</button>
   </p>
 </form>
  <form action="/signup" method="get">
  <p>
    <button type="submit" value="Signup"> Sign up</button>
  </p>

  </form>
 
  </div>
</div>
