<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
</head>
<body>
  <h1>Welcome to Film Forum</h1>

  <h3>Signup or log in to your account</h3>

  <a href="/signup">Sign Up</a>
  <br>
  <a href="/login">Log In</a>
</body>